
/*********************
  Media Query Classes
**********************/
@media only screen and (max-width: 600px) {
  .hideOnSmallOnly,
  .hide-on-small-and-down {
    display: none !important;
  }
}

@media only screen and (max-width: 992px) {
  .hideOnMediumAndDown {
    display: none !important;
  }
}

@media only screen and (min-width: 601px) {
  .hideOnMediumAndUp {
    display: none !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .hideOnMediumOnly {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .hideOnLargeOnly {
    display: none !important;
  }
}

@media only screen and (min-width: 993px) {
  .showOnLarge {
    display: block !important;
  }
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .showOnMedium {
    display: block !important;
  }
}

@media only screen and (max-width: 600px) {
  .showOnSmall {
    display: block !important;
  }
}

@media only screen and (min-width: 601px) {
  .showOnMediumAndUp {
    display: block !important;
  }
}

@media only screen and (max-width: 992px) {
  .showOnMediumAndDown {
    display: block !important;
  }
}

@media only screen and (max-width: 600px) {
  .centerOnSmallOnly {
    text-align: center;
  }
}
