.conferences {
    background-color: rgba(255,255,255,0.0);
    margin: 0;
    -ms-transform: rotate(0);
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.conference-image {
    width: 292px;
    height: 92px;
    border-radius: 8px;
}

.add-border {
    border: 1px solid #e8e8e8;
}

.add-border-top {
    border-top: 1px solid #e8e8e8;
}

.add-border-bottom {
    border-bottom: 1px solid #e8e8e8;
}

.header-text {
    font-size: 20.0px;
    line-height: 32px;
    color: #454545;
}

.conferece-text {
    background-color: rgba(255,255,255,0.0);
    position: absolute;
    top: 20px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    font-family: 'Futura-Medium',Helvetica,Arial,serif;
    font-size: 40.0px;
}

.conferece-text a {
    color: rgba(255,255,255,1.0);
    text-align: center;
    letter-spacing: 0;
    line-height: 53.0px;
}

.video {
    border-width: 0px;
    /*height: 200px;*/
    /*background: #e8e8e8;*/
    /*border-color: #454545;*/
}

.video .img {
    border-radius: 8px;
}

.card-body a {
    color: #454545;
}

.tags {
    color: #454545;
    background-color: #fff2ac;
    background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
    padding: 2px;
}